[submodule "external/breathe"]
	path = external/breathe
	url = https://github.com/michaeljones/breathe.git
[submodule "external/numpydoc"]
	path = external/numpydoc
	url = https://github.com/numpy/numpydoc.git
